@{
    ViewData["Title"] = "Calc Service";
    ViewData["h3"] = "Form parameters parsing demo";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        <li><a href="/form/ManualSingle">Manual parsing in single action</a></li>
        <li><a href="/form/ManualSep">Manual parsing in separate actions</a></li>
        <li><a href="/form/ModelBindPar">Model binding (parameters)</li>
        <li><a href="/form/ModelBindSep">Modelbind sep (separate model)</a></li>
    </ul>
</body>
</html>
